<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Tutorial</h1>
    </div>
    <div class="text-left">
      <h4 class="display-5 margin-bottom">Prerequisites</h4>
      <p class="margin-bottom"><strong>1 - </strong> Access to dev environment.</p>
      <p class="margin-bottom"><strong>2 - </strong> SOAPUI aplication.</p>

      <h4 class="display-5 margin-bottom">Steps</h4>
      <p class="margin-bottom"><strong>1 - </strong> Enter in the Enterprise Manager of the dev environment.</p>
      <p class="margin-bottom"><strong>2 - </strong> Search the service in the "deployed composites" tab and select it.</p>
      <!-- <img src="/img/SearchService.PNG" class="img-fluid margin-bottom" alt="Responsive image"> -->
      <p class="inline-flex margin-bottom"><strong>3 - </strong> In the service page click in the symbol <img src="/img/Icon.PNG" class="rounded mx-auto d-block" alt="...">.</p>
      <!-- <img src="/img/ServicePage.PNG" class="img-fluid margin-bottom" alt="Responsive image"> -->
      <p class="margin-bottom"><strong>4 - </strong> Copy the WSDL url.</p>
      <p class="margin-bottom"><strong>5 - </strong> Open the SOAP UI program and create a new project by clicking in the SOAP button. Paste the url of the service in the "Initial WSDL" input form. Change the project name as desired.</p>  
      <p class="margin-bottom"><strong>6 - </strong> Save the project in a folder. That will create the xml project file that you will use in the IC generator app.</p>
      <p class="margin-bottom"><strong>7 - </strong> Open the Ic generator app and choose the saved xml file. Then click in the "Extract info from file" button. This action will extract the Service Name, the Service Type and other info that will automatically be put in the IC.</p> 
      <p class="margin-bottom"><strong>8 - </strong> Complete the other fields in the form. Change these fields as desired. You can check how the IC structure is going to be bellow.</p> 
      <p class="margin-bottom"><strong>9 - </strong> Click in the Copy buttons and paste them in the creation of new iC in JIRA.</p>   
    </div>
  </div>