<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Tutorial</h1>
    </div>
    <div class="">
      <p><strong>1 - </strong> Enter in the Enterprise Manager of the dev ambient</p>
      <p><strong>2 - </strong> Search the service in the "deployed composites" tab</p>
      <img src="SearchService.PNG">
      <p><strong>3 - </strong> In the service page click in the symbol <img src="./../../img/Icon.PNG class="rounded mx-auto d-block" alt="..."></p>
      <p><strong>4 - </strong> Copy the WSDL url</p>
      <p><strong>5 - </strong> Open the SOAP UI program and create a new project by clicking in the SOAP button. Paste the url of the service in the "Initial WSDL" input form. Change the project name as desired.</p>  
      <p><strong>6 - </strong> Save the project in a folder and that will create the xml </p>
      <p><strong>7 - </strong> Open the generator and choose the saved xml file. Then click in the "Extract info from file" button. This action will extract the Service Name, the Service Type and the requests info automatically.</p> 
      <p><strong>8 - </strong> Complete the other fields in the form. Change these fields as desired. You can consult how the IC is going bellow.</p> 
      <p><strong>9 - </strong> Click in the Copy buttons and paste them in the creation of new iC  </p>   
    </div>
  </div>