.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}

.input-group-prepend2 {
  width : 20%; /*adjust as needed*/
}

.input-group-prepend2 button {
  width: 100%;
  overflow: hidden;
}