<div class="container">
        <form #f="ngForm" novalidate>
            <div *ngIf="!isNotFirefox" class="alert alert-warning" role="alert">
                You should use Mozilla Firefox instead. Copy content feature is not yet supported by other browsers
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">SoapUI Project File</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="xmlFile" class="custom-file-input" id="xmlFile" (change)="handleFileInput($event.target.files)"> />
                    <label class="custom-file-label" for="xmlFile">Choose file</label>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary" type="button" (click)="extract()">Extract info from file</button>
                </div>
            </div>
            <hr class="mb-4" />
            <div class="row">
                <div class="form-group" class="col-md-6 mb-3">
                    <label for="serviceName">Service Name</label>
                    <input type="text" class="form-control" name="serviceName" [(ngModel)]="model.serviceName" #serviceName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && serviceName.invalid }" required />
                    <div *ngIf="f.submitted && serviceName.invalid" class="invalid-feedback">
                        <div *ngIf="serviceName.errors.required">Service Name should be filled</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="serviceType">Service Type</label>
                    <select class="custom-select" name="serviceType" [(ngModel)]="model.serviceType" #serviceType="ngModel">
                        <option selected>Open this select menu</option>
                        <option value="Connectivity Service">Connectivity Service</option>
                        <option value="Data Service">Data Service</option>
                        <option value="Business Activity Service">Business Activity Service</option>
                        <option value="Business Process Service">Business Process Service</option>
                        <option value="Decision Service">Decision Service</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="icNumber">IC Number</label>
                    <input type="text" class="form-control" placeholder="Usually DExx.xx.xx" name="icNumber" [(ngModel)]="model.icNumber" #icNumber="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && icNumber.invalid }" required />
                    <div *ngIf="f.submitted && icNumber.invalid" class="invalid-feedback">
                        <div *ngIf="icNumber.errors.required">ICNumber should be filled. If none write 'none'</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" placeholder="Done, In progress..." name="status" [(ngModel)]="model.status" #status="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && status.invalid }" required />
                    <div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
                        <div *ngIf="status.errors.required">Status should be filled</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="description">Service Description</label>
                    <input type="text" class="form-control" placeholder="The continuation of 'the purpose of this Interface Contract is to describe the interface for service used to ' ..." name="description" [(ngModel)]="model.description" #description="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required />
                    <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                        <div *ngIf="description.errors.required">Service description should be filled</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" placeholder="First and last name. Ex: John Silva" name="author" [(ngModel)]="model.author" #author="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && author.invalid }" required />
                    <div *ngIf="f.submitted && author.invalid" class="invalid-feedback">
                        <div *ngIf="author.errors.required">Author should be filled</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                        <label for="eproseedName">Eproseed Name</label>
                        <input type="text" class="form-control" placeholder="eproseed name. Ex: jsilva" name="eproseedName" [(ngModel)]="model.eproseedName" #eproseedName="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && eproseedName.invalid }" required />
                        <div *ngIf="f.submitted && eproseedName.invalid" class="invalid-feedback">
                            <div *ngIf="eproseedName.errors.required">Eproseed Name should be filled</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="soapEndpoint">SOAP Endpoint</label>
                    <input type="text" class="form-control" placeholder="Endpoint without 'host:port/' and '.wsdl'" name="soapEndpoint" [(ngModel)]="model.soapEndpoint" #soapEndpoint="ngModel" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="restEndpoint">REST Endpoint</label>
                    <input type="text" class="form-control" placeholder="Endpoint without 'host:port/' and '.wsdl'"name="restEndpoint" [(ngModel)]="model.restEndpoint" #eproseedName="ngModel" />
                </div>
            </div>
            <hr class="mb-4" />
            <div class="form-group">
                <label>Related Services</label>
            </div>
            <div class="input-group mb-3">                
                <input type="text" class="form-control" name="servicesRelated" [(ngModel)]="model.servicesRelated" #servicesRelated="ngModel" />
                <div class="input-group-append input-group-prepend2">
                    <button type="button" class="btn btn-info btn-sm" (click)="addScopeService(servicesRelated.value)">Add related service</button>
                </div>
            </div>
            <div>
                <ul>
                    <li *ngFor="let scopeServ of model.scopeServices"><a><span class="badge">{{scopeServ}}</span></a><button class="btn btn-danger btn-sm" title="Delete" (click)="deleteScopeService(scopeServ)">X</button></li>
                </ul>
            </div>
            <div class="form-group">
                <label>Service Functionalities</label>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ex: Get an Authorization" name="functionalities" [(ngModel)]="model.functionalities" #functionalities="ngModel" />
                <div class="input-group-append input-group-prepend2">
                    <button type="button" class="btn btn-info btn-sm" (click)="addServiceFunctionalities(functionalities.value)">Add Service functionality</button>  
                </div>
            </div>
            <div>
                <ul>
                    <li *ngFor="let servFunc of model.serviceFunctionalities"><a><span class="badge">{{servFunc}}</span></a><button class="btn btn-danger btn-sm" title="Delete" (click)="deleteServiceFunctionalities(servFunc)">X</button></li>
                </ul>
            </div>
            <div class="form-group">
                    <label>References</label>
                    
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Reference Name" name="referenceName" [(ngModel)]="model.referenceName" #referenceName="ngModel" >
                <input type="text" class="form-control" placeholder="Reference Link" name="referenceUrl" [(ngModel)]="model.referenceUrl" #referenceUrl="ngModel" >
                <input type="text" class="form-control" placeholder="Version" name="referenceVersion" [(ngModel)]="model.referenceVersion" #referenceVersion="ngModel" >
                <div class="input-group-append input-group-prepend2">
                    <button type="button" class="btn btn-info btn-sm" (click)="addReferences(referenceName.value,referenceUrl.value,referenceVersion.value)">Add reference</button>  
                </div>
            </div>  
            <div>
                <ul>
                    <li *ngFor="let refer of model.references"><a><span class="badge">{{refer.docReference}} - {{refer.url}} - {{refer.version}}</span></a><button class="btn btn-danger btn-sm" title="Delete" (click)="deleteReference(refer.docReference)">X</button></li>
                </ul>
            </div>
            <div class="form-group">
                    <label>Result Codes</label>
                    
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Result Code" name="resultCode" [(ngModel)]="model.resultCode" #resultCode="ngModel" >
                <input type="text" class="form-control" placeholder="Description" name="resultDesc" [(ngModel)]="model.resultDesc" #resultDesc="ngModel" >
                <div class="input-group-append input-group-prepend2">
                    <button type="button" class="btn btn-info btn-sm" (click)="addResultCode(resultCode.value,resultDesc.value)">Add result code</button>  
                </div>
            </div>  
            <div>
                <ul>
                    <li *ngFor="let resCode of model.resultCodes"><a><span class="badge">{{resCode.code}} - {{resCode.description}}</span></a><button class="btn btn-danger btn-sm" title="Delete" (click)="deleteResultCode(resCode.code)">X</button></li>
                </ul>
            </div>
            <hr class="mb-4" />
            <div class="row checkbox-row">
                <div class="col-md-4 mb-3 checkbox">                    
                    <label style="font-size: 1.3em">
                        <input type="checkbox" class="checkbox-inline styled" name="virtualization" [(ngModel)]="model.virtualization" #virtualization="ngModel" > Virtualization
                    </label>
                </div>
                <div class="col-md-4 mb-3">
                    <label style="font-size: 1.3em">
                        <input type="checkbox" class="checkbox-inline" name="soap" [(ngModel)]="model.soap" #soap="ngModel" > SOAP
                    </label>
                </div>
                <div class="col-md-4 mb-3">
                    <label style="font-size: 1.3em">
                            <input type="checkbox" class="checkbox-inline" name="rest" [(ngModel)]="model.rest" #rest="ngModel" > REST
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-block" (click)="copyTitleToClipboard()">Copy WIKI Title</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-block" (click)="copyContentToClipboard()">Copy WIKI Content</button>
                </div>
            </div>
            <hr class="mb-4" />
        </form>
    </div>
    <div class="container"><app-intro [message]="model" ></app-intro></div>
    