<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">eProseed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a routerLink="/" routerLinkActive="active" class="nav-link">Generator <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a routerLink="/tutorial" routerLinkActive="active" class="nav-link">Tutorial <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a routerLink="/versions" routerLinkActive="active" class="nav-link">Versions <span class="sr-only">(current)</span></a>
    </li>
    </ul>
  </div>
</nav>