<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Versions</h1>
  </div>
  <div class="">
    <p><strong>Current Version:</strong> 0.1</p>
    <p><strong>Features:</strong></p>
    <ul class="">
      <li class="">Import automatically Service Name, Service Type and request info from the Services WSDL</li>
      <li class="">Form to complete almost all fields in an IC</li>
      <li class="">Button to copy the title and content created by the tool</li>
    </ul>
  </div>
  <hr class="mb-4" />
  <div class="">
    <p><strong>Future Versions</strong> </p>
    <ul class="">
      <li class="">Automate the process even more using only the wsdl url instead of the XML from a SOAP UI project</li>
      <li class="">Return Response Structure</li>
      <li class="">Put the ICGenerator online</li>
      <li class="">Intergrate the tool in the eproseed workflow when creating documentation</li>
      <li class="">Copy feature working in other browsers</li>
    </ul>
  </div>
  <hr class="mb-4" />
  <div class="">
    <p><strong>Old Versions</strong> </p>
    <ul class="">
      <li class="">None</li>
    </ul>
  </div>

</div>